notes.txt
notes.md
localnotes.md
tutsrc.txt
node_modules/
jspm_packages/

.env.EXAMPLE
*.local
.env
.env.test
config.env
variables.env

build/
dist/
dist-ssr/
.cache
coverage/
.sass-cache/
*.css.map
*.sass.map
*.scss.map

.firebase/
.firebaserc
.vscode


typings/
*.tsbuildinfo

*.sql
*.sqlite

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

yarn-error.log
.pnp/
.pnp.js
.yarn-integrity

.npm

.eslintcache

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.serverless/

.node_repl_history

.fusebox/

.dynamodb/

pids
*.pid
*.seed
*.pid.lock

lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
.tern-port
*.tgz
.vscode-test
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip