/* navbar styles */
.navbar {
  width: 100%;
  background: #effaf0;
  padding: 20px 10px;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.navbar button,
.navbar a {
  margin-left: 16px;
  border: 2px solid #333;
  padding: 0.2em;
  border-radius: 15px;
}
.navbar a:hover {
  color: #effaef;
  background-color: #333;
}
.navbar ul li:first-child a {
  margin-left: 0;
  border: none;
}

.navbar a {
  color: #333;
  text-decoration: none;
}
