.transactions li {
  margin: 1rem;
  outline: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 0.36em;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-left: 4px solid #1f9751;
  font-size: 1.4em;
}
.transactions .name {
  color: #777;
}
.transactions .amount {
  margin-left: auto;
  margin-right: 1.5rem;
  color: #777;
  font-weight: bold;
}
.transactions button {
  position: absolute;
  top: 0;
  right: 0;
  background: #ddd;
  color: #777;
  border: none;
  border-radius: 0 0 0 5px;
  padding: 8px 4px;
  text-align: center;
  line-height: 0;
  font-size: 0.5em;
  cursor: pointer;
}
